/* regole generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* stile immagine logo */
#logo-img {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

.add-task {
  font-size: medium;
  min-height: 50px;
  width: 20%;
  padding: 0 5%;
}

button {
  padding: 10px;
  font-size: medium;
}

button:hover {
  cursor: pointer;
}

.tasks {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.single-task {
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1%;
}

/* Remove control task */
.fas.fa-times {
  font-size: 20px;
  transition: 0.5s ease;
  align-self: center;
}

.fas.fa-times:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.1);
  transition: 0.5s ease;
}

/* Check control task */
.fas.fa-check {
  align-self: center;
  transition: 0.5s ease;
}

.fas.fa-check:hover {
  cursor: pointer;
  color: green;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.checked {
  background-color: green;
  color: white;
}

/* Vue CSS transition bounce tasks added and removed */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Dark Mode style */

#toggle-dark {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.label {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  height: 26px;
  width: 50px;
  padding: 5px;
  position: relative;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: silver;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: 0.5s ease linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(25px);
  transition: 0.5s ease;
}

.fa-moon,
.fa-sun {
  color: yellow;
}

body.dark {
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
}
