<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue 2 script -->
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>To DO list Vue</title>
  </head>
  <body>
    <div id="root" class="container">
      <!-- per evitare che si aggiorni la pagina con form metto @submit.prevent -->
      <form @submit.prevent action="">
        <input
          v-model="dato"
          v-on:keyup.enter="addTasks()"
          placeholder="add new task"
          type="text"
        />

        <!-- Bottone aggiungi -->
        <button v-on:click="addTasks" type="button">Aggiungi</button>

        <!-- Bottone rimuovi -->
        <button v-on:click="cleanAll" type="button">Rimuovi tutto</button>
      </form>

      <!-- Contenitore con task da aggiugere o rimuovere-->
      <div v-for="(item, index) in tasks" :key="index">
        <div v-on:click="removeTask(index)">
          Added Tasks: {{ tasks[index] }}
        </div>
      </div>
    </div>
    <script src="js/script.js" type="text/javascript"></script>
  </body>
</html>
