<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue 2 script -->
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>To DO list Vue</title>
  </head>
  <body>
    <div id="root" class="container">
      <form>
        <input v-model="dato" placeholder="add new task" />
        <!-- Bottone aggiungi -->
        <button v-on:click="addTasks" type="button">Aggiungi</button>
        <button v-on:click="removeTasks" type="button">Rimuovi</button>
      </form>
      <!-- Input task da aggiugere-->
      <span> dato inserito: {{dato}} </span>
      <div>Added Tasks: {{ tasks }}</div>
      <!-- Contenitore tasks -->
      <div class="tasks-container">
        <div v-for="(item, index) in tasks" ::key="index"></div>
      </div>
    </div>
    <script src="js/script.js" type="text/javascript"></script>
  </body>
</html>
